/* Start of nav bar styling*/

/* Main nav bar styles*/
#my-navbar{
  position: absolute;
  right: 0;
  list-style-type: none;
  margin: 1% auto auto auto;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  backdrop-filter: blur(30px);
  width: 55%;
  height: 7.5%;
}
.main-navbar-link-anchor {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}
.item-div{
    float: left;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 10%;
    padding-bottom: 10.5%;
    padding-left: 8%;
    padding-right: 8%;
}
.item-div:hover:not(.active) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
}

#long{
    width: 200px;
}

/* Destination nav bar styles*/
.destination-navbar{
    position: absolute;
    display: block;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    padding-bottom: 2.5%;
    margin-bottom: 5%;
    bottom: 110%;
}
.destination-link{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.destination-link-anchor{
    display: block;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}
.active {
  border-bottom: 3px solid white;
}
.destination-link-anchor:hover:not(.active) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
}
/* End of navbar styling*/

.travel-h2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 2rem;
    font-weight: lighter;
    display: inline-block;
    width: 30rem;
    margin: 0 auto 0 auto;
}

.space-title{
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 8rem;
    margin: 0;
    font-weight: lighter;
}

.intro-text{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    line-height: 2;
    font-size: 1rem;
    width: 25rem;
}

.home-div{
    position: absolute;
    width: 25%;
    left: 10%;
    top: 30%;
}
.explore-button{
    position: absolute;
    display: block;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: 0;
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;
    font-weight: lighter;
    bottom: 10%;
    right: 15%;
}


/* Start of everything used for destination pages*/
.info-container{
    display: inline-block;
    position: absolute;
    left: 57%;
    bottom: 47%;
    width: 25%;
}
.planet-name{
    display: block;
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    font-size: 625%;
}
.planet-info-div{
    display: block;
    position: absolute;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    line-height: 2;
}
.planet-description{
    margin-bottom: 10%;
}
.image{
    display: inline;
    position: absolute;
    width: 27%;
    top: 35%;
    left: 16%;
}
.planet-number{
    display: inline;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
}
.pick-destination{
    display: inline;
    color: #D0D6F9;
}
.pick-your-destination{
    display: inline;
    position: absolute;
    top: 100px;
    left: 150px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 175%;
    font-weight: light;
}

.text{
    color: rgb(125, 125, 125) !important;
}
.subheading2{
    display: inline;
    font-size: 87.5%;
    margin-bottom: 0;
}
.avg-distance{
    display: inline;
    position: absolute;
    font-size: 87.5%;
    font-family: 'Bellefair', serif !important;
}
.travel-time{
    display: inline;
    position: absolute;
    font-size: 87.5%;
    font-family: 'Bellefair', serif !important;
    left: 55%;
}
.distance-h2{
    font-size: 175% !important;
}

/*End of everything used for destination pages*/

.crew-name{
    display: block;
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    font-size: 311%;
    padding-bottom: 5%;
}

.crew-info-div{
    display: block;
    position: absolute;
    width: 90%;
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    line-height: 2;
}

.crew-occupation{
    font-family: 'Bellefair', serif;
    color: rgb(125, 125, 125) !important;
    font-size: 200%;
    font-weight: lighter;
    margin: 0 auto 0 auto;
}

.crew-member-info{
    display: block;
    position: absolute;
    top: 40%;
    left: 12%;
}

.crew-img{
    display: inline;
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 28%;
}

.meet-crew{
    display: inline;
    position: absolute;
    top: 16%;
    left: 12%;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 175%;
    font-weight: lighter;
}

.crew-navbar{
    display: inline;
    position: absolute;
    bottom: 15%;
    left: 10%;
    list-style-type: none;
}

.crew-nav-btn{
    border-radius: 50%;
    width: 5%;
    height: 5%;
}
.crew-link{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.dot {
    height: 1rem;
    width: 1rem;
    background-color: rgb(88, 88, 88);
    border-radius: 50%;
    display: inline-block;
}
.dot:hover:not(.active) {
    background-color: rgba(201, 201, 201, 0.775) !important;
}
.dot-is-active {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.tech-navbar{
    display: inline;
    position: absolute;
    bottom: 25%;
    left: 7%;
    list-style-type: none;
}

.tech-button{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
}
.tech-button.active{
    background-color: white;
    color: black;
}

.tech-link{
    padding: 1rem;
}

.tech-info{
    display: block;
    position: absolute;
    top: 40%;
    left: 20%;
}