.navbar{
  position: absolute;
  right: 0;
  list-style-type: none;
  margin: 20px auto auto auto;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  backdrop-filter: blur(30px);
  width: 55%;
}

.destionation-navbar{
    position: absolute;
    right: 25%;
    top: 200px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    z-index: 2;
    padding-bottom: 2.5%;
}

.destination-link{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.destination-link-anchor{
    display: block;
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    font-family: 'Barlow Condensed', sans-serif;
}


.main-navbar-link {
  float: left;
  padding-left: 8%;
  padding-right: 8%;
}

.main-navbar-link-anchor {
  display: block;
  color: white;
  text-align: center;
  padding-top: 30%;
  padding-bottom: 30%;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
}

.short-word{
    margin-top: 25%;
    padding-bottom: 45%;
}

.crew{
    margin-top: 25%;
    padding-bottom: 50%;
}

li :hover:not(.active) {
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
}

.active {
  border-bottom: 3px solid white;
}

.travel-h2{
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 175%;
}

.space-title{
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 937.5%;
    margin: 0;
}

.intro-text{
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    line-height: 2;
}

.home-div{
    position: absolute;
    width: 25%;
    left: 125px;
    top: 250px
}

.button-div{
    display: inline;
    position: absolute;
    right: 250px;
    bottom: 100px;
}
.explore-button{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 0;
    font-family: 'Bellefair', serif;
    font-size: 40px;
    font-weight: lighter;
    margin: 5px auto 3px;
}

.info-container{
    display: inline-block;
    position: absolute;
    left: 57%;
    bottom: 47%;
    width: 25%;
}

.planet-name{
    display: inline-block;
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
    font-size: 625%;
}
.planet-info-div{
    display: block;
    position: absolute;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color: #D0D6F9;
    line-height: 2;
}

.planet-description{
    margin-bottom: 10%;
}

.image{
    display: inline;
    position: absolute;
    width: 27%;
    top: 35%;
    left: 16%;
}

.planet-number{
    display: inline;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
}
.pick-destination{
    display: inline;
    color: #D0D6F9;
}

.pick-your-destination{
    display: inline;
    position: absolute;
    top: 100px;
    left: 150px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 175%;
}

.text{
    color: rgb(125, 125, 125) !important;
}

.subheading2{
    display: inline;
    font-size: 87.5%;
    margin-bottom: 0;
}

.avg{
    display: block;
}

.avg-distance{
    display: inline;
    position: absolute;
    font-size: 87.5%;
    font-family: 'Bellefair', serif !important;
}
.travel-time{
    display: inline;
    position: absolute;
    font-size: 87.5%;
    font-family: 'Bellefair', serif !important;
    left: 55%;
}
.distance-h2{
    font-size: 175% !important;
}